# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

# Data
data/
*.csv

# Except notebook datasets and submissions we want tracked
!notebooks/data/
!notebooks/data/*.csv
!notebooks/submission.csv
!notebooks/submission_semi.csv

# IDE
.vscode/
.idea/
.DS_Store

# k8s
k8s/**/*.commented.yml
k8s/**/secret.yml